PORT=PORT-NUMBER
MONGO_URI=mongodb_connection_string

Ignored Files :
# dependencies
backend/node_modules
frontend/node_modules

# environment files
backend/.env
frontend/.env

# build files
frontend/dist

# logs
*.log

# OS files
.DS_Store